.summary-cart-container {
  align-self: flex-end;
}
.total-amount {
  color: #616e7c;
  font-size: 20px;
}
.no-of-items {
  color: #616e7c;
  font-size: 20px;
}
.checkout-button {
  border: none;
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 15px;
  padding: 8px;
  border-radius: 7px;
}
.span-amount {
  color: #171f46;
  font-size: 20px;
}

.payment-method-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #eaebed;
  background-color: #ffffff;
}

.payment-method-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

.payment-container {
  width: 85vw;
}

.payment-option-container {
  width: 90vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.payment-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 5px 0px #eaebed;
  flex: 1;
  padding-left: 10px;
  text-align: center;
  font-family: 'Roboto';
}

.payment-label {
  padding-left: 7px;
  color: rgb(117, 113, 113);
  font-weight: 400;
  font-size: 16px;
}

.payment-details-container {
  width: 90vw;
  height: 50vh;
  align-self: flex-end;
  box-shadow: 0px 4px 16px 0px #eaebed;
  display: flex;
  border: 1px solid rgb(208, 202, 202);
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.price-detail-heading {
  color: #616e7c;
  font-size: 16px;
}

.terms-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: #616e7c;
  font-size: 15px;
  display: none;
}

.price-option {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

.price-text {
  font-size: 15px;
  color: rgb(117, 113, 113);
}

.free-text {
  color: greenyellow;
  font-weight: 400;
  font-size: 15px;
}

.total-price {
  color: #171f46;
  font-size: 15px;
  font-weight: 700;
}

.confirm-order {
  align-self: flex-end;
  margin-right: 5px;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-order:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.horizontal-line {
  color: #616e7c;
  width: 90vw;
  font-size: 2px;
}

@media screen and (min-width: 768px) {
  .payment-method-container {
    height: 95vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 16px 0px #eaebed;
    background-color: #ffffff;
    padding: 5px;
  }

  .payment-method-heading {
    color: #3e4c59;
    font-family: 'Roboto';
    font-size: 24px;
    padding-left: 15px;
    font-weight: 700;
    text-align: center;
  }

  .payment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    width: 85vw;
  }

  .payment-option-container {
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .payment-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #eaebed;
    flex: 1;
    padding-left: 10px;
    text-align: center;
    font-family: 'Roboto';
  }

  .payment-label {
    padding-left: 7px;
    color: rgb(117, 113, 113);
    font-weight: 400;
    font-size: 18px;
  }

  .payment-details-container {
    width: 25vw;
    height: 45vh;
    box-shadow: 2px 4px 16px 0px #eaebed;
    border: none;
    display: flex;
    flex-direction: column;
  }

  .terms-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #616e7c;
    font-size: 15px;
    display: block;
  }

  .price-option {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
  }

  .price-text {
    font-size: 16px;
    color: rgb(117, 113, 113);
  }

  .free-text {
    color: rgb(5, 56, 5);
    font-weight: 400;
    font-size: 16px;
  }

  .total-price {
    color: #171f46;
    font-size: 16px;
    font-weight: 700;
  }

  .confirm-order {
    align-self: flex-end;
    margin-right: 5px;
  }

  .confirm-order:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .horizontal-line {
    color: #616e7c;
    width: 25vw;
    font-size: 2px;
  }
}

.success-container {
  height: 50vh;
  width: 90vw;
  box-shadow: 2px 4px 16px 0px #eaebed;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .success-container {
    height: 50vh;
    width: 50vw;
  }
}

.congrats-message {
  color: rgb(26, 164, 26);
  font-size: 24px;
  font-weight: bold;
}

.success-message {
  color: grey;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.success-icon {
  height: 100px;
  width: 100px;
  color: rgb(26, 164, 26);
}
